<%- include("partials/header") %>

 <span class="icons">
    <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/viewall'" title="Go back"></i>
</span>

<style>
    
    #transfer:hover {
        border: 2px solid #007bff;
        font-size: 1.2rem;
        background-color: white !important;
        color: #007bff;
        font-weight: bold;
    } 
    th {
        border-right: 0.5px solid rgb(117, 113, 113);
        border-left: 2px solid rgb(117, 113, 113);
        border-bottom:0.5px solid rgb(117, 113, 113) ;
    }

    td {
        border-right: 2px solid rgb(117, 113, 113);
        border-bottom: 0.5px solid rgb(117, 113, 113);
    }
</style>

<div class="container w-75 mx-auto my-5">
    <div class="heading w-100 mx-auto text-center">
        <h2 class="mx-auto">
            <em>Customer Details</em>
        </h2>
    </div>
    
    <div class="container w-50 mx-auto my-5">
        <table class="table w-100">
            <tr class="text-center" style="border-top: 2px solid rgb(117, 113, 113);">
                <th scope="row" style="background-color: rgb(243, 134, 95);">Name</th>
                <td style="background-color: rgb(90, 176, 187);"><%=record.name%></td>
            </tr>
            <tr class="text-center">
                <th scope="row" style="background-color: rgb(243, 134, 95);">Email ID</th>
                <td style="background-color: rgb(90, 176, 187);"><%=record.email%></td>
            </tr>
            <tr class="text-center" style="border-bottom: 2px solid rgb(117, 113, 113); ">
                <th scope="row" style="background-color: rgb(243, 134, 95);">Current Balance</th>
                <td style="background-color: rgb(90, 176, 187);">Rs. <%=record.currentBalance%></td>
            </tr>
        </table>
        
    </div>
    
    <div class="text-center mx-auto my-4">
        <button class="btn btn-lg btn-primary mx-auto" id="transfer"  onclick="window.location.href='/viewall/<%=record._id%>/transferto'">Transfer Money</button>
    </div>
</div>

<%- include("partials/footer") %>