<%- include("partials/header") %>


<span class="icons">
    <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/viewall/<%=record._id%>'" title="Go back"></i>
</span>
<!-- <button onclick="window.location.href='/viewall/<%=record._id%>'">Back</button> -->

<style>
    td {
        text-align: center;
    }
    #transfer:hover {
        cursor: pointer;
        font-size: 10rem;
        color: #1A73E8;
        opacity:0.6;
    }
    #hoverrows1 {
        background-color: rgb(243, 190, 75);
    }
    #hoverrows2 {
        background-color: rgb(248, 146, 78);
    }
    #hoverrows1:hover {
        background-color: rgb(209, 149, 236);
        font-size: 1rem;
        color: blue;
        font-weight: bold;
    } 
    #hoverrows2:hover {
        background-color: rgb(209, 149, 236);
        font-size: 1rem;
        color: blue;
        font-weight: bold;
    } 
    #rows1 {
        background-color: rgb(243, 190, 75);
    }
    #rows2 {
        background-color: rgb(248, 146, 78);
    }
    .cell-component {
        font-weight: lighter !important;
    }
</style>

<div class="container w-75 mx-auto">
    <div>
        <h2 style="text-align:center; margin: 1.4rem auto 2.8rem auto; color: rgb(167, 61, 61); font-weight: bolder;">
            <em>Select a Payee...</em>
        </h2>
    </div>
    <table class="table w-100 mx-auto" style="border: 2px solid black;">
        <tr class="sno" style="background-color: rgb(240, 104, 81); ">
            <th scope="col" style="padding: 0.8rem 1.5rem;">
                <strong>S.No.</strong>
            </th>
            <th scope="col">
                <strong>Customer Name</strong>
            </th>
            <th scope="col">
                <strong>Email ID</strong>
            </th>
            <th scope="col">
                <strong>Current Balance (Rs.)</strong>
            </th>
            <th></th>
        </tr>
        <% for(var i=0;i<10;i++) {%>
    
            <%let cid = JSON.stringify(customers[i]._id) %>
            <%let rid = JSON.stringify(record._id) %>
    
            <%if(cid.localeCompare(rid)) {%>
               <%if(i%2 == 0) {%>
                    <tr id="hoverrows1" >
                        <th scope="row" style="padding: 0.8rem 1.5rem;">
                            <strong><%=(i+1)%></strong>
                        </th>
                        <td>
                            <%=customers[i].name%>
                        </td>
                        <td>
                            <%=customers[i].email%>
                        </td>
                        <td>
                            <%=customers[i].currentBalance%>
                        </td>
                        <td>
                            <i class="fa-solid fa-right-left" onclick="window.location.href='/viewall/<%=record._id%>/transferto/<%=customers[i]._id%>'" style="font-size: 2rem;" id="transfer"></i>
                        </td>
                    </tr>
                <%}else{%>
                    <tr id="hoverrows2" >
                        <th scope="row" style="padding: 0.8rem 1.5rem;">
                            <strong><%=(i+1)%></strong>
                        </th>
                        <td>
                            <%=customers[i].name%>
                        </td>
                        <td>
                            <%=customers[i].email%>
                        </td>
                        <td>
                            <%=customers[i].currentBalance%>
                        </td>
                        <td>
                            <i class="fa-solid fa-right-left" onclick="window.location.href='/viewall/<%=record._id%>/transferto/<%=customers[i]._id%>'" style="font-size: 2rem;" id="transfer"></i>
                        </td>
                    </tr>
                <%}%>
            <%}else{%>
                <%if(i%2 == 0) {%>
                    <tr id="rows1" style="border: 7px solid blueviolet;" >
                        <th scope="row" style="padding: 0.8rem 1.5rem;">
                            <strong><%=(i+1)%></strong>
                        </th>
                        <td class="cell-component">
                            <%=customers[i].name%>
                        </td>
                        <td class="cell-component">
                            <%=customers[i].email%>
                        </td>
                        <td class="cell-component">
                            <%=customers[i].currentBalance%>
                        </td>
                        <td class="cell-component">
                            <i class="fa-solid fa-right-left" style="font-size: 2rem; opacity: 0.2;" ></i>
                        </td>
                    </tr>
                <%}else{%>
                    <tr id="rows2" style="border: 7px solid blueviolet;" >
                        <th scope="row" style="padding: 0.8rem 1.5rem;">
                            <strong><%=(i+1)%></strong>
                        </th>
                        <td class="cell-component">
                            <%=customers[i].name%>
                        </td>
                        <td class="cell-component">
                            <%=customers[i].email%>
                        </td>
                        <td class="cell-component">
                            <%=customers[i].currentBalance%>
                        </td>
                        <td class="cell-component">
                            <i class="fa-solid fa-right-left" style="font-size: 2rem; opacity: 0.2;" ></i>
                        </td>
                    </tr>
                <%}%>
            <%}%>
        <%}%>
    </table>
</div>

<%- include("partials/footer") %>

