<%- include("partials/header") %>

<style>
    .icons {
        margin: auto 0.8rem;
        cursor: pointer;
    }
    table {
        border: 2px solid black;
    }
    #hoverrows1 {
        background-color: rgb(243, 190, 75);
    }
    #hoverrows2 {
        background-color: rgb(248, 146, 78);
    }
    
</style>

<div style="margin-bottom: 2.5rem;">
    <span class="icons">
        <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/'" title="Go back"></i>
    </span>
    
    <span class="icons">
        <i class="fa fa-users fa-10x" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/viewall'" title="View All Customers"></i>
    </span>
</div>

<div><h2 style="text-align:center; margin: 1.4rem auto 3.2rem auto; color: rgb(167, 61, 61); font-weight: bolder;"><em>Transfer History</em></h2></div>

<%if(transfers.length) {%>
    <table>
        <tr style="background-color: rgb(240, 104, 81);">
            <th style="padding: 0.8rem 1.5rem;">S.No.</th>
            <th>Payer</th>
            <th>Payee</th>
            <th>Amount transferred (Rs.)</th>
        </tr>
        
            <%for(var i=0;i<transfers.length;i++) {%>
                <%if(i%2 == 0) {%>
                    <tr id="hoverrows1">
                        <td style="padding: 0.8rem 1.5rem;"><strong><%=(i+1)%></strong></td>
                        <td><%=transfers[i].transferredby%></td>
                        <td><%=transfers[i].transferredto%></td>
                        <td><%=transfers[i].amount%></td>
                    </tr>
                <%}else{%>
                    <tr id="hoverrows2">
                        <td style="padding: 0.8rem 1.5rem;"><strong><%=(i+1)%></strong></td>
                        <td><%=transfers[i].transferredby%></td>
                        <td><%=transfers[i].transferredto%></td>
                        <td><%=transfers[i].amount%></td>
                    </tr>
                <%}%>
            <%}%>
    </table>
<%}else {%>
    <div><h4 style="text-align: center; margin: 4rem auto; color: red;">No record found</h4></div>
<%}%>

<%- include("partials/footer") %>