<%- include("partials/header") %>

    <style>
        .icons {
            margin: auto 0.8rem;
            cursor: pointer;
        }

        table {
            border: 2px solid black;
        }

        .hoverrows1 {
            background-color: rgb(243, 190, 75);
        }

        .hoverrows2 {
            background-color: rgb(248, 146, 78);
        }
    </style>

    <div style="margin-bottom: 2.5rem;">
        <span class="icons">
            <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;"
                onclick="window.location.href='/'" title="Go back"></i>
        </span>

        <span class="icons">
            <i class="fa fa-users fa-10x" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;"
                onclick="window.location.href='/viewall'" title="View All Customers"></i>
        </span>
    </div>

    <div class="container w-75 mx-auto my-5">

        <div class="mx-auto my-3">
            <h2 style="color: rgb(167, 61, 61); font-weight: bolder;">
                <em>Transfer History</em>
            </h2>
        </div>

        <%if(transfers.length) {%>
            <table class="table w-75 mx-auto" style="margin-top: 3rem; padding-top: 1.2rem;">
                <tr style="background-color: rgb(240, 104, 81);">
                    <th scope="col">S.No.</th>
                    <th scope="col">Payer</th>
                    <th scope="col">Payee</th>
                    <th scope="col">Amount transferred (Rs.)</th>
                </tr>

                <%for(var i=0;i<transfers.length;i++) {%>
                    <%if(i%2==0) {%>
                        <tr class="hoverrows1">
                            <th scope="row">
                                <%=(i+1)%>
                            </th>
                            <td>
                                <%=transfers[i].transferredby%>
                            </td>
                            <td>
                                <%=transfers[i].transferredto%>
                            </td>
                            <td>
                                <%=transfers[i].amount%>
                            </td>
                        </tr>
                        <%}else{%>
                            <tr class="hoverrows2">
                                <th scope="row">
                                    <%=(i+1)%>
                                </th>
                                <td>
                                    <%=transfers[i].transferredby%>
                                </td>
                                <td>
                                    <%=transfers[i].transferredto%>
                                </td>
                                <td>
                                    <%=transfers[i].amount%>
                                </td>
                            </tr>
                            <%}%>
                                <%}%>
            </table>
            <%}else {%>
                <div class="mx-auto my-4">
                    <h4 style="color: red;">No record found</h4>
                </div>
                <%}%>
    </div>



    <%- include("partials/footer") %>