<%- include("partials/header") %>

<style>
    td {
        text-align: center;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
    }
    #amount {
        text-align: center;
        margin-top: 2.5rem;
    }
    #transbutton {
        margin-left: 0.5rem;
    }
    #transfer:hover {
            cursor: pointer;
            font-size: 10rem;
            color: #1A73E8;
            opacity:0.6;
    }
    td{
        padding-bottom: 0.7rem; 
        padding-top: 0.7rem;
    }
    #hoverrows1 {
        background-color: rgb(243, 190, 75)
    }
    #hoverrows2 {
        background-color: rgb(248, 146, 78);
    }
</style>

<span class="icons">
    <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/viewall/<%=record._id%>'" title="Go back"></i>
</span>

<div class="container">
    <div><h2 style="text-align:center; margin: 1.4rem auto 4rem auto; color: rgb(167, 61, 61); font-weight: bolder;"><em>Enter the Amount to be transferred...</em></h2></div>
    <table style="border: 2px solid black;">
        <tr style="background-color: rgb(240, 104, 81);">
            <th style="padding: 0.8rem 1.5rem;">
                <strong>Type of Customer</strong>
            </th>
            <th>
                <strong>Customer Name</strong>
            </th>
            <th>
                <strong>Email ID</strong>
            </th>
            <th>
                <strong>Current Balance (Rs.)</strong>
            </th>
        </tr>
        <tr id="hoverrows1" >
            <td style="padding: 0.8rem 1.5rem;">
                <strong>Payer</strong>
            </td>
            <td>
                <%=record.name%>
            </td>
            <td>
                <%=record.email%>
            </td>
            <td>
                <%=record.currentBalance%>
            </td>
        </tr>
        <tr id="hoverrows2" >
            <td style="padding: 0.8rem 1.5rem;">
                <strong>Payee</strong>
            </td>
            <td>
                <%=transfercust.name%>
            </td>
            <td>
                <%=transfercust.email%>
            </td>
            <td>
                <%=transfercust.currentBalance%>
            </td>
        </tr>
    </table>

    <div style="margin: 6rem" id="amount">
        
            <div style="text-align: center; margin: 0 auto 2.2rem auto;">
                <strong><p style="font-size:1.25rem; color: rgb(230, 64, 64);">
                    <%if(s == 1) {%>
                        Amount insufficient!!  <span style="color: green;">Enter amount <= Rs. <%=record.currentBalance%>
                        <%s=0;%>
                    <%}%>
                </span> </p></strong>
            </div>

        <form action="/viewall/<%=record._id%>/transferto/<%=transfercust._id%>" method="POST">
            <i style="font-size: 1.6rem; margin-right: 1rem; color: rgb(42, 122, 42);" class="fa fa-inr" aria-hidden="true"></i>
            <input style="margin-right: 1rem; width:36%;" type="number" name="amount" placeholder="Amount" required>
            <button class="btn btn-sm btn-primary" id="transbutton" style="font-size: 1rem;">Transfer</button>
        </form>
    </div>
</div>



<%- include("partials/footer") %>