<%- include("partials/header") %>


<style>
    .icons {
        margin: auto 0.8rem;
        cursor: pointer;
    }
    #hoverrows1 {
        background-color: rgb(243, 190, 75)
    }
    #hoverrows2 {
        background-color: rgb(248, 146, 78);
    }
    #hoverrows1:hover {
        background-color: rgb(209, 149, 236);
        font-size: 1rem;
        color: blue;
        font-weight: bold;
    } 
    #hoverrows2:hover {
        background-color: rgb(209, 149, 236);
        font-size: 1rem;
        color: blue;
        font-weight: bold;
    } 
    #eye {
        cursor: pointer;
        color: black;
    }
    #eye:hover {
        color: rgb(82, 82, 224);
    }
    
</style>

<div class="container text-left mr-auto my-3 row" style="width: 10%;">
    <div class="col">
        <i class="fa fa-arrow-left" id="back" aria-hidden="true" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/'" title="Go back"></i>
    </div>
    
     <div class="col">
        <i class="fas fa-history" aria-hidden="true" id="back" style="font-size: 1.5rem; margin-top: 1%;" onclick="window.location.href='/transfers'" title="View Transfer History"></i>
     </div>
</div>

<div class="container w-75 mx-auto">
    <div>
        <h2 style="text-align:center; margin: 1.4rem auto 2.8rem auto; color: rgb(167, 61, 61); font-weight: bolder;">
            <em>Select a Payer...</em>
        </h2>
    </div>
    <table class="table w-100 mx-auto" style="border: 2px solid black;">
        <tr class="sno" style="background-color: rgb(240, 104, 81); ">
            <th scope="col" style="padding: 0.8rem 1.5rem;">
                <strong>S.No.</strong>
            </th>
            <th scope="col">
                <strong>Customer Name</strong>
            </th>
            <th scope="col">
                <strong>Email ID</strong>
            </th>
            <th scope="col">
                <strong>Current Balance (Rs.)</strong>
            </th>
            <th></th>
        </tr>
        <%var i;%> 
        <%for(i=0;i<customers.length;i++) {%>
            <%if(i%2 == 0) {%>
                <tr id="hoverrows1" >
                    <th scope="row" style="padding: 0.8rem 1.5rem;">
                        <strong><%=(i+1)%></strong>
                    </th>
                    <td>
                        <%=customers[i].name%>
                    </td>
                    <td>
                        <%=customers[i].email%>
                    </td>
                    <td>
                        <%=customers[i].currentBalance%>
                    </td>
                    <td>
                        <i class="fas fa-eye" id="eye" style="font-size: 1.9rem;" onclick="window.location.href='/viewall/<%=customers[i]._id%>'"></i>
                    </td>
                </tr>
            <%}else{%>
                <tr id="hoverrows2" >
                    <th scope="row" style="padding: 0.8rem 1.5rem;">
                        <strong><%=(i+1)%></strong>
                    </th>
                    <td>
                        <%=customers[i].name%>
                    </td>
                    <td>
                        <%=customers[i].email%>
                    </td>
                    <td>
                        <%=customers[i].currentBalance%>
                    </td>
                    <td>
                        <i class="fas fa-eye" id="eye" style="font-size: 1.9rem;" onclick="window.location.href='/viewall/<%=customers[i]._id%>'"></i>
                    </td>
                </tr>
            <%}%>
        <%}%>
    </table>
</div>



<%- include("partials/footer") %>