<%- include("partials/header") %>

<% cartun.forEach(function(cartoon) {%>

    <div>
        <div> 
            <strong> <%= cartoon.name %> </strong>
        </div>
        
        <div>
            <h6> <%= cartoon.title %> </h6>
        </div>

        <div>
            <img src="<%= cartoon.image %>">
        </div>

        <div>
            <textarea> <%= cartoon.desc %> </textarea>
        </div>

        <% if(cartun.length != 0) { %>
            <div> <%= cartoon.postedOn %> </div>
        <% } %>
    </div>

<% }) %> 
<!-- <%= cartun %> -->

<a href="/cartoon/new">CREATE A NEW POST</a>

<%- include("partials/footer") %>